@media (max-width: 1200px) {
    
}
@media (max-width: 1024px) {
    .container{
        max-width: 965px;
    }
    .hero_btn_sea{
        color: #ffffff;
        background:#00A0C1;
    }
    .card{
        padding: 29px 0 35px 26px;
    }
}
@media (max-width: 992px) {
    .hero{
        background: url("../images/img.png") no-repeat right/cover;
    }
    .container{
        max-width: 940px;
    }
    .practice_grid{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
    .about .d-flex{
        flex-direction: column;
        align-items: center;
    }
    .about_content{
        width: 590px;
    }
    .about_cards{
        display: flex;
    }
    .about_cards .d-flex{
        flex-direction: row;
    }
    .clients_subscribe{
        width: 888px;
    }
}
@media (max-width: 768px) {
    .header .d-flex{
        justify-content: space-between;
    }
    .container{
        max-width: 740px;
    }
    .header{
        position: static;
    }
    .hero{
        background: url("../images/img.png") no-repeat left/cover;
        height: auto;
        padding: 84px 0 205px ;
    }
    .hero_grid{
        margin-top: 80px;
        position: static;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        width: 97%;
    }
    .choose_grid{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
    .clients_subscribe{
        width: 713px;
        padding: 0 34px;
        height: 100px;
    }
    .clients_desc{
        font-size: 19px;
    }
    .clients_inp{
        width: 266px;
    }
    .contact_grid{
        width: 711px;
    }
    .contact_email{
        font-size: 13px;
    }
    .footer_top{
        height: 344px;
    }
}
@media(max-width: 540px) {
    .header_nav {
        display: none;
    }

    .burger_menu {
        display: flex;
        align-items: center;
    }

    .burger_btn {
        position: relative;
        width: 17px;
        height: 2px;
        background: #737373;
        margin-left: 5px;
    }

    .burger_btn::before {
        content: "";
        position: absolute;
        top: -6px;
        right: 0;
        width: 23px;
        height: 2px;
        background: #737373;
    }

    .burger_btn::after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: 0;
        width: 10px;
        height: 2px;
        background: #737373;

    }

    .header_link {
        line-height: inherit;
    }

    .container {
        max-width: 500px;
    }

    .hero_title {
        font-size: 42px;
    }

    .choose_grid {
        grid-template-columns: 1fr;
    }

    .practice_grid {
        grid-template-columns: 1fr;
        margin-top: 105px;
        grid-row-gap: 30px;
    }

    .about_video {
        width: 494px;
        height: 367px;
    }

    .section_title {
        font-size: 36px;
    }

    .about_desc br {
        display: none;
    }

    .about_desc {
        width: 410px;
    }

    .choose_desc {
        width: 475px;
    }
    .about_cards{
        flex-wrap: wrap;
    }
    .about_content {
        width: 466px;
        padding-top: 40px;
    }
    .clients_top{
        height: auto;
    }
    .clients_container{
        flex-direction: column;
        height: 1230px;
        padding: 80px 85px;
    }
    .clients_container svg{
        width: 88%;
        height: 88%;
    }
    .clients_bottom{
        height: auto;
    }
    .clients_subscribe{
        position: static;
        width: 100%;
        height: 212px;
        flex-direction: column;
        padding: 30px 0;
    }
    .clients_inp .clients_btn{
        height: 58px;
    }
    .clients_desc{
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }
    .contact_desc .br {
        display: none;
    }
    .contact_desc{
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
        width: 264px;
    }
    .contact_grid{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        width: 400px;
        height: auto;
    }
    .contact_card .contact_card_middle{
        height: 333px;
    }
    .contact-us{
        padding: 48px 0;
    }
    .contact-us .container{
        flex-direction: column;
        max-width: 375px;
        height: auto;
    }
    .contact-us_content{
        margin-bottom: 50px;
    }
    .contact-us .align-center{
        align-items: flex-start;
    }
    .footer_top{
        height: auto;
    }
    .footer_top .container.d-flex{
        flex-direction: column;
    }
    .footer_top .container{
        max-width: 270px;
        padding: 50px 10px;
    }
    .footer_nav:not(:last-child){
        margin-bottom: 30px;
    }
    .footer_bottom .container{
        max-width: 270px;
        flex-direction: column;
        height: auto;
        padding: 25px 0 55px;
        align-items: flex-start;
    }
     .footer_icons .fa-facebook-square{
         margin-left: 0;
    }
     .footer_copyright{
         margin-bottom: 50px;
     }
}
@media (max-width: 416px) {
     .container{
         max-width: 366px;
     }
    .hero_title{
        font-size: 40px;
        text-align: center;
        width: 100%;
        line-height: 57px;
    }
    .hero_desc{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        max-width: 279px;
        width: 100%;
        margin: 40px auto;
    }
    .hero .container .d-flex{
        flex-direction: column;
        align-items: center;
    }
    .hero_btn_sea{
        margin-top: 25px;
        border: 1px solid #00A0C1;
        color: #00A0C1;
        background: none;
    }
    .hero{
        background: url("../images/img.png")  no-repeat bottom/cover;
    }
    .choose{
        padding: 98px 0 70px;
    }
    .section_title{
        text-align: center;
    }
    .choose .section_title{
        max-width: 245px;
        margin: 0 auto;
    }
    .choose_desc {
        max-width: 225px;
        margin: 10px auto 75px;
    }
    .choose .container{
        max-width: 247px;
    }

    .practice .container .section_title{
        max-width: 180px;
        margin: 0 auto;
    }
    .practice_desc{
        max-width: 225px;
        margin: 10px auto 75px;
    }
    .practice_desc .br{
        display: none;
    }
    .practice_card{
        max-width: 230px;
    }
    .practice_grid{
        justify-content: center;
        margin: 0 auto;
    }
    .about .section_title, .about .section_desc{
        display: none;
    }
     .section_title.about_title_sm{
        display: block; !important;
         max-width: 308px;
    }
    .section_desc.about_desc_sm{
        display: block; !important;
        max-width: 225px;
    }
    .about .container{
        max-width: 333px;
    }
    .about_video{
        height: 442px;
        width: 333px;
    }
     .section_title.about_title {
        display: none;
         text-align: left;
    }
     .section_desc.about_text{
        display: none;
    }
     .about_content{
         width: 333px;
     }
     .clients_container svg{
         width: 120%;
     }
     .clients_inp{
         width:220px ;
     }
     .contact_grid{
         width: 328px;
     }
     .contact-us .container{
         max-width: 262px;
     }
     .footer_top .container{
         padding: 0;
     }
     .footer_bottom .container{
         max-width: 231px;
     }




}